<div id="<%= dom_id book %>">


  <div class="mt-4 p-5" style="background-color: #DDDDDD;border-radius: 8px;">
  <h1><%= book.book_name %></h1>
  <h5 style="font-style: italic;">-- <%= book.author %> --</h5>

  <br>
  <p class="mt-2">
    <strong>Language:</strong>
    <%= book.language %>
  </p>

  <p>
    <strong>Print length:</strong>
    <%= book.print_length %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= book.discount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>


</div>


 

</div>
