<div id="<%= dom_id book %>">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= book.language %>
  </p>

  <p>
    <strong>Print length:</strong>
    <%= book.print_length %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= book.discount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

</div>
